*.swp
*.un?
*.o
*.so
src/ircd-micro
src/numeric.c
src/numeric.h
src/version.c
src/version.c.last
test/
etc/
local/
release/
IrcLog
*.dep
.deps
buildsys.mk
extra.mk
include/autoconf.h
config.log
config.status
autom4te.cache/
